@CHARSET "ISO-8859-1";

.btn {
  background-color:#f36c00;
   color:#fff;
  
} 
.btn {
  background-color:#3db545;
   color:#fff;
  
} 

.fontsize{
	font-weight: bold;
	font-size: 16px;
	
}
.btn2:hover{   
  background-color:#3db545;
   color:#fff;  
}

.btn1:hover{
	 background: rgba(255,255,255,0.1);
	 
     background-color:#f36c00;
     color:#fff;  
     
    
}
.ui-button.buttoncolor1{
	 background-color:#4682B4;
   color:#fff;
}
.buttoncolor1:hover{
	 background-color:#4682B4;
	
}



.red{
   background-color:#FF0000;  
}


.green{
	 background-color:#3db545;  
}
.white{
	 background-color:#fff;  
}
 .dd{
	 border: 0;
	 white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     white-space: pre-wrap;       /* css-3 */
     word-wrap: break-word;       /* Internet Explorer 5.5+ */
     word-break: break-all;
     white-space: normal; 
}
tr.noBorder td {
  border: 0;
}










