.addteammember{
	padding: 30px;
	
  max-width: 750px;
  width: 100% !important;
  background-color: #fff;
  margin-right:30px;
  border-radius: 0px;

  overflow: hidden;
  font-family: roboto;
       border: .5px solid rgba(0, 0, 0, 0);
}
.textbox{
	margin-top:20px;
	padding: 10px; 
	width:100%;
	 font-size:24px;
	 border-radius: 0px;
	  border: .5px solid rgba(0, 0, 0, 0.2);
	  overflow: hidden;
  font-family: roboto;
   box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
}

.textboxfordatefield{
padding: 0px;
	width:100%;
	 font-size:12px;
	 
	 
  
}



.gridmargin{
	margin-top:1cm; 
	 
	 margin-left:0px;
	
 } 
 
 @media screen and (max-width: 750px)  {
  .gridmargin {
       
        margin-left:0px;
    }
    
   
   
   
   
   
   
 .userrolegrid{
 
 padding: 30px;
	
  max-width: 750px;
  width: 100% !important;
  background-color: #fff;
  margin-right:30px;
  border-radius: 0px;

  overflow: hidden;
  font-family: roboto;
       border: .5px solid rgba(0, 0, 0, 0);
 }
    
    
    
