@CHARSET "ISO-8859-1";

.top_bar{
	background-color:#f36c00;
	margin-bottom:0px;
position:relative;
}
.top_textcolor{
		margin-top:5px;
	
	font-size:30px;
font-weight: bold;
	color:#fff;
}
.top_menu{
	margin-top:5px;
	margin-bottom:0px;
	
}

.top_menu ul{
	

	font-weight: bold;
	font-size:17px;
	margin-bottom:0px;
}


.active1{
  background: rgba(255,255,255,0.1);
	
}

.top_menu .navbar-nav li a:hover{
	  background: rgba(255,255,255,0.1);
	color:#fff;
	
}
.register{
	{border-style: groove;}
}

.margin_di{
	
	 margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}


#nav-sign-up {
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    margin-left: 10px;
    opacity: 1;
    transition: 0.2s;
}






