@CHARSET "ISO-8859-1";

.homecontainer{
	
	
padding: 30px;

  width: 100% !important;
  background-color: #fff;
 margin: 0 auto;
  
  overflow: hidden;
  font-family: roboto;
 
 

}

.honelink{
	text-align:left;
	 max-width: 500px;
  width: 100% !important;
}

.containerforbutton{
		padding: 30px;
  max-width: 700px;
  width: 100% !important;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 2px;
margin-left:-21px;

  overflow: hidden;
  font-family: roboto;
}

.homeiconbutton{
 text-align:left;
font-size:24px;   
border-radius: 14px;
   
width:100%;
}
.downlink{
	
	text-decoration:inline;
	font-size:20px; 
}
p{
	color:#808080;
}

.indexfooter {
 background: #CCCCCC;
	height: auto;
	
    left: 0;
    bottom: 0;
	padding-top: 5px;
	padding-bottom: 5px;
padding-left:12px;

	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
	color:black;
}


hr.style1{
	
	
	 border-top: 10px solid green;
	margin-top:80px;

 
  
}
 
 

hr.style2{
	
	


 
  
}